@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F9FAFB;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SF Pro', 'SF_Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
